<div class="header h-16">
  <div class="px-8 md:px-16 py-1">
    <div class="flex w-full h-full">
      <!-- brand -->
      <div class="flex">
        <div class="bg-yellow-600 w-14 h-14">
          <!-- logo -->
        </div>
        <div class="my-auto ml-2">
          <h1 class="text-xl leading-6 text-white">
            Školní informační systém
          </h1>
          <h1 class="text-sm text-white">Resslova 5, Ústí nad Labem</h1>
        </div>
      </div>
      <!-- account -->
      <div class="ml-auto">
        <div class="flex w-full">
          <div class="bg-green-400 w-14 h-14 rounded-full">
            <!-- img -->
          </div>
          <div class="my-auto ml-2">
            <h1 class="text-lg leading-5 text-white">Kačer Donald</h1>
            <h1 class="text-sm text-gray-300">Administrátor</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
