<div class="h-100 grid-cols-2 grid h-192 main-div">
    <div class="flex">
        <div class="my-auto w-full">
            <p class="text-9xl text-center tracking-widest text-blue-400 font-bold">402</p>
            <p class="text-3xl text-center my-4 font-extralight text-blue-400 font-bold">Payment required</p>
          <a  class="text-center logout" (click)="logOut()">Logout</a>
        </div>
    </div>
    <div class="flex h-96 w-full h-100">
        <img class="my-auto h-80 w-full" src="/assets/media/kubinus.gif" alt="">
    </div>
</div>

