<section>
  <h1 class="text-2xl font-semibold">Příspěvky</h1>
  <div
    class="grid grid-cols-1 sm:grid-cols-4 h-40 sm:h-8 mt-4 rounded-3xl bg-white"
  >
    <div class="grid h-full rounded-3xl bg-blue-500">
      <span class="m-auto font-semibold text-white">VŠECHNY</span>
    </div>
    <div class="grid h-full">
      <span class="m-auto font-semibold text-gray-500">STŘÍBRNÍKY</span>
    </div>
    <div class="grid h-full">
      <span class="m-auto font-semibold text-gray-500">RESSLOVA</span>
    </div>
    <div class="grid h-full">
      <span class="m-auto font-semibold text-gray-500">MONITORY</span>
    </div>
  </div>
  <div class="mt-4">
    <div class="">
      <h1 class="text-xl font-semibold">Dnes</h1>
    </div>
    <!-- příspěvky -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
      <div
        class="w-full min-h-[18rem] rounded-xl shadow-xl bg-white"
        *ngFor="prispevek; of: polePrispevku; index as i"
      >
        <div class="py-6 px-6">
          <div class="flex h-16">
            <div class="grid w-3/4 border-l-4 border-red-500">
              <div class="my-auto pl-4">
                <h1 class="text-xl font-semibold">
                  {{ polePrispevku[i].title }}
                </h1>
                <h1 class="red-dot font-semibold text-red-500">Důležité</h1>
              </div>
            </div>
            <div class="w-1/4">
              <h1 class="text-right text-base font-medium text-gray-600">
                Stříbrníky
              </h1>
            </div>
          </div>
          <div class="mt-2">
            <p class="">{{ polePrispevku[i].text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
