<div class="w-full h-full bg-blue-500">
  <div class="py-6 px-4 sm:p-6 md:py-10 md:px-8">
    <section>
      <h1 class="text-3xl font-semibold">Příspěvky</h1>
      <div class="flex mt-8">
        <div class="relative w-32 h-36 mr-4 md:mr-8 rounded-2xl bg-white">
          <div class="bg-gray-500 w-16 h-16 mt-4 mx-auto rounded-full">
            <!-- icon -->
          </div>
          <div class="absolute w-full bottom-4">
            <h1 class="text-lg font-semibold text-center">Všechny</h1>
          </div>
        </div>
        <div class="relative w-32 h-36 mr-4 md:mr-8 rounded-2xl bg-white">
          <div class="bg-gray-500 w-16 h-16 mt-4 mx-auto rounded-full">
            <!-- icon -->
          </div>
          <div class="absolute w-full bottom-4">
            <h1 class="text-lg font-semibold text-center">Resslova</h1>
          </div>
        </div>
        <div class="relative w-32 h-36 mr-4 md:mr-8 rounded-2xl bg-white">
          <div class="bg-gray-500 w-16 h-16 mt-4 mx-auto rounded-full">
            <!-- icon -->
          </div>
          <div class="absolute w-full bottom-4">
            <h1 class="text-lg font-semibold text-center">Stříbrníky</h1>
          </div>
        </div>
        <div class="relative w-32 h-36 mr-4 md:mr-8 rounded-2xl bg-white">
          <div class="bg-gray-500 w-16 h-16 mt-4 mx-auto rounded-full">
            <!-- icon -->
          </div>
          <div class="absolute w-full bottom-4">
            <h1 class="text-lg font-semibold text-center">Monitory</h1>
          </div>
        </div>
      </div>
      <div class="mt-8">
        <div class="">
          <h1 class="text-2xl font-bold">Dnes</h1>
        </div>
        <!-- příspěvky -->
        <div class="">
          <div class="w-full min-h-[18rem] rounded-xl border-2 border-red-500">
            test
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
