<div mat-dialog-title>
	<div class="flex">
		<div>
			<div class="mt-2">
				<span class="text-lg text-neutral-700 font-sans font-semibold">Přidat příspěvek</span>
			</div>
		</div>
		<div class="ml-auto">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
			</svg>
		</div>
	</div>
</div>
<mat-dialog-content>
	<div nz-form>
		<nz-form-item>
			<nz-form-control>
				<input nz-input placeholder="Nadpis" [(ngModel)]="Form.TitleInput" name="title" type="text" id="title" />
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-control>
				<editor apiKey="uh8dxhec7vgolkmojbkz2omqmmkc90h9w56uuxi66dn752hr" [(ngModel)]="Form.TextInput"></editor>
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-control>
				<app-upload-files class="w-full"></app-upload-files>
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Středisko" [(ngModel)]="Form.CenterInput">
				<nz-option *ngFor="let center of centers" [nzValue]="center.centerID" [nzLabel]="center.name"></nz-option>
			</nz-select>
		</nz-form-item>
		<nz-form-item>
			<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Priorita" [(ngModel)]="Form.PriorityInput">
				<nz-option *ngFor="let priority of priorities" [nzValue]="priority.id" [nzLabel]="priority.id + '-' + priority.priority"></nz-option>
			</nz-select>
		</nz-form-item>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mat-dialog-actions">
	<button mat-button mat-dialog-close class="mat-focus-indicator mat-button mat-button-base">Zrušit</button>
	<button mat-button (click)="send()" [mat-dialog-close]="true" class="mat-focus-indicator mat-button mat-button-base" cdkFocusInitial>Vytvořit</button>
</mat-dialog-actions>
