<div class="h-full">
  <div class="w-full h-16">
    <img src="/assets/sis-logo.png" alt="" class="w-full h-full object-cover" />
  </div>
  <!-- links -->
  <div class="mt-48 px-6">
    <!-- link -->
    <div class="flex mb-4 h-8">
      <div class="bg-gray-400 w-10 h-full">
        <!-- icon -->
      </div>
      <div class="flex w-full pl-2" routerLink="" routerLinkActive="active">
        <span class="my-auto">Úvodní</span>
      </div>
    </div>

    <div class="flex mb-4 h-8">
      <div class="bg-gray-400 w-10 h-full">
        <!-- icon -->
      </div>
      <div class="flex w-full pl-2"routerLink="users" routerLinkActive="active">
        <span class="my-auto" >Uživatelé</span>
      </div>
    </div>

    <div class="flex mb-4 h-8">
      <div class="bg-gray-400 w-10 h-full">
        <!-- icon -->
      </div>
      <div class="flex w-full pl-2"routerLink="" routerLinkActive="active">
        <span class="my-auto" >Uživatelé</span>
      </div>
    </div>

    <div class="flex mb-4 h-8">
      <div class="bg-gray-400 w-10 h-full">
        <!-- icon -->
      </div>
      <div class="flex w-full pl-2"routerLink="" routerLinkActive="active">
        <span class="my-auto" >Uživatelé</span>
      </div>
    </div>
  </div>

  <div class="px-6 absolute w-full bottom-12">
    <div class="flex w-full h-8">
      <div class="bg-gray-400 w-10 h-full">
        <!-- icon -->
      </div>
      <div class="flex w-full pl-2">
        <span class="my-auto">Odhlásit se</span>
      </div>
    </div>
  </div>
</div>
