<div class="flex h-16 px-8 py-2 md:px-16 bg-white">
	<div id="menu-button" class="grid md:hidden">
		<div class="my-auto">
			<i class="fa-solid fa-bars text-4xl"></i>
			<!-- <img src="/assets/icons/menu.png" alt="" class="w-8 h-8" /> -->
		</div>
	</div>
	<div class="flex mx-auto md:mx-0">
		<div class="my-auto">
			<div class="">
				<span class="text-base font-semibold leading-none">{{ dateFormatted }}</span>
			</div>
			<div class="">
				<span class="text-base leading-none">{{ evenOddWeek }}</span>
			</div>
		</div>
	</div>
	<a href="" class="ml-auto">
		<div class="flex">
			<div class="grid mr-2">
				<div class="my-auto">
					<p class="text-right leading-none">{{ userData.name }}</p>
					<p class="font-semibold text-right leading-none">{{ userData.lname }}</p>
				</div>
			</div>
			<div class="w-12 h-full ml-auto overflow-hidden rounded-full">
				<img src="/assets/images/profile.jpg" alt="Profile img" class="w-full h-full" />
			</div>
		</div>
	</a>
</div>
