<div *ngIf="!withoutOverlay.includes(this.router.url)" class="animate-fade-in flex h-full" data-transition="500ms" data-onlyOnPageLoad="true">
	<div id="menu-wrapper" class="hidden relative min-w-[5rem] transition-all delay-100 md:block xl:min-w-[12rem]"></div>
	<app-menu-overlay id="menu" class="hidden fixed w-20 h-screen bg-white transition-all delay-100 md:block xl:w-48"></app-menu-overlay>
	<div class="flex flex-col w-full min-h-screen">
		<app-top-overlay></app-top-overlay>
		<div class="w-full h-full rounded-3xl bg-gray-100">
			<div class="animate-fade-in px-8 py-4 md:px-16 md:py-12" data-transition="500ms">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>

<app-payment-required *ngIf="this.router.url == '/payment_required'"></app-payment-required>

<app-login-page *ngIf="this.router.url == '/login'"></app-login-page>
