<div class="relative h-full">
	<div class="animate-reveal flex h-16 mb-24 p-2" data-transition="500ms">
		<img src="/assets/logo/logo.svg" alt="Logo" class="h-full mx-2" />
		<div class="flex w-0 h-0 invisible opacity-0 xl:w-auto xl:h-auto xl:visible xl:opacity-100 xl:transition-all xl:delay-200">
			<div class="my-auto">
				<h1 class="text-2xl text-center text-fuchsia-900 font-bold tracking-normal leading-none">SPSUL</h1>
			</div>
		</div>
	</div>
	<div class="">
		<a [routerLink]="['']" routerLinkActive="bg-sky-600">
			<div class="bg-sky-500 hover:bg-sky-600">
				<div class="filter-white hover-filter-white py-2 xl:px-1">
					<div class="flex h-8">
						<div class="animate-reveal h-full px-6 xl:px-4" data-transition="1000ms">
              <i nz-icon style="color:#3b82f6; font-size: 20px" nzType="appstore" nzTheme="outline"></i>
<!--							<img src="/assets/icons/home.svg" alt="" class="w-full h-full" />-->
						</div>
						<div class="flex w-0 h-0 invisible opacity-0 xl:w-auto xl:h-auto xl:visible xl:opacity-100 xl:transition-all xl:delay-200">
							<div class="my-auto text-base text-blue-400 font-semibold tracking-wide">Příspěvky</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		<a [routerLink]="['users']" routerLinkActive="bg-sky-600">
			<div class="hover:bg-sky-600">
				<div class="hover-filter-white py-2 xl:px-1">
					<div class="flex h-8">
						<div class="animate-reveal h-full px-6 xl:px-4" data-transition="1000ms">
              <i nz-icon style="color:#3b82f6; font-size: 20px" nzType="team" nzTheme="outline"></i>
<!--							<img src="/assets/icons/users.svg" alt="" class="w-full h-full" />-->
						</div>
						<div class="flex w-0 h-0 invisible opacity-0 xl:w-auto xl:h-auto xl:visible xl:opacity-100 xl:transition-all xl:delay-200">
							<div class="my-auto text-base text-blue-400 font-semibold tracking-wide">Uživatelé</div>
						</div>
					</div>
				</div>
			</div>
		</a>
    <a [routerLink]="['issues']" routerLinkActive="bg-sky-600">
      <div class="hover:bg-sky-600">
        <div class="hover-filter-white py-2 xl:px-1">
          <div class="flex h-8">
            <div class="animate-reveal h-full px-6 xl:px-4" data-transition="1000ms">
              <i nz-icon style="color:#3b82f6; font-size: 20px" nzType="tool" nzTheme="outline"></i>
              <!--							<img src="/assets/icons/users.svg" alt="" class="w-full h-full" />-->
            </div>
            <div class="flex w-0 h-0 invisible opacity-0 xl:w-auto xl:h-auto xl:visible xl:opacity-100 xl:transition-all xl:delay-200">
              <div class="my-auto text-base text-blue-400 font-semibold tracking-wide">Závady</div>
            </div>
          </div>
        </div>
      </div>
    </a>
	</div>
	<div class="absolute w-full bottom-5">
		<a (click)="logout()">
			<div class="hover:bg-sky-600">
				<div class="hover-filter-white py-2 xl:px-1">
					<div class="flex h-8">
						<div class="animate-reveal h-full px-6 xl:px-4" data-transition="1000ms">
              <i nz-icon style="color:#3b82f6; font-size: 20px" nzType="logout" nzTheme="outline"></i>
<!--							<img src="/assets/icons/users.svg" alt="" class="w-full h-full" />-->
						</div>
						<div class="flex w-0 h-0 invisible opacity-0 xl:w-auto xl:h-auto xl:visible xl:opacity-100 xl:transition-all xl:delay-200">
							<div class="my-auto text-base text-blue-400 font-semibold tracking-wide">Odhlásit se</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
