<section>
	<div class="flex mb-8">
		<div class="grid">
			<h1 class="my-auto text-2xl font-semibold text-gray-700">Příspěvky</h1>
		</div>
		<div class="flex ml-auto">
			<button (click)="openAddPosts()" class="px-6 py-2 rounded-sm font-semibold text-sm text-white bg-blue-500 hover:bg-blue-700">Nový příspěvek</button>
		</div>
	</div>
	<nz-empty *ngIf="polePrispevku.length === 0; else displaying"></nz-empty>
</section>

<ng-template #displaying>
	<div class="flex flex-wrap gap-10">
		<div class="flex flex-grow rounded-lg overflow-hidden shadow-lg bg-white" *ngFor="let prispevek of polePrispevku">
			<div class="max-w-[8px] w-full" [ngClass]="{ 'bg-yellow-400': prispevek.priority == 2, 'bg-red-500': prispevek.priority == 3 }"></div>
			<div class="w-full grid gap-8 p-8">
				<div class="w-full grid gap-4">
					<div class="flex">
						<div class="flex">
							<p class="text-lg font-semibold leading-none">{{ prispevek.title }}</p>
						</div>
						<div class="w-5 ml-auto">
							<img src="/assets/icons/menu-vertical.png" alt="" class="h-5" />
						</div>
					</div>
					<div class="pr-5">
						<div [innerHTML]="prispevek.text"></div>
					</div>
				</div>
				<div class="flex h-10 mt-auto">
					<div class="flex gap-2">
						<div class="h-full overflow-hidden rounded-full">
							<img src="/assets/images/profile.jpg" alt="" class="h-full" />
						</div>
						<div class="flex flex-col py-1">
							<p class="text-sm text-zinc-500 font-semibold leading-none">Miroslav Douda</p>
							<div class="mt-auto">
								<p class="text-sm text-stone-400 leading-none">15.08.2022</p>
							</div>
						</div>
					</div>
					<div class="flex ml-auto" *ngIf="prispevek.priority == 3">
						<div class="mt-auto">
							<span class="ml-auto text-xs leading-none">Upraveno uživatelem {{ prispevek.userID }} v {{ prispevek.date }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
