<div class="flex h-16 px-12 py-2 bg-white">
	<div class="w-full h-full"></div>
	<a href="">
		<div class="flex">
			<div class="grid mr-2">
				<div class="my-auto">
					<p class="text-right leading-none" >{{userData.name}}</p>
					<p class="font-semibold text-right leading-none">{{userData.lname}}</p>
				</div>
			</div>
			<div class="w-12 h-full ml-auto overflow-hidden rounded-full">
				<img src="/assets/images/profile.jpg" alt="Profile img" class="w-full h-full" />
			</div>
		</div>
	</a>
</div>
