@import 'tailwindcss/base'
@import 'tailwindcss/components'
@import 'tailwindcss/utilities'

@layer base
    body
        min-height: 100vh
        background-color: #fff
        color: #222
        display: flex
        flex-direction: column
        font: 15px/1.6 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
        margin: 0
        overflow-x: hidden
        padding: 0
        word-wrap: break-word
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
        -webkit-tap-highlight-color: transparent
        -webkit-text-size-adjust: 100%
        -webkit-font-smoothing: antialiased
        -webkit-overflow-scrolling: touch

    .min-w-\[5rem\]
        min-width: 5rem/* 80px */
    @media (min-width: 1024px)
    .lg\:min-w-\[12rem\]
        width: 12rem/* 192px */

@layer components
    .red-dot:before
        content: "\A"
        width: 10px
        height: 10px
        border-radius: 50%
        background: #ef4444
        display: inline-block
        margin: 0 5px 0 0
