<div class="h-full">
  <div class="animate-reveal h-16 mb-24 p-2" data-transition="500ms">
    <img src="/assets/logo.svg" alt="Logo" class="h-full mx-auto" />
  </div>
  <div class="grid grid-rows-2 gap-8">
    <a routerLink="">
      <div class="animate-reveal px-6" data-transition="1000ms">
        <img src="/assets/icons/home.svg" alt="" class="w-full h-full" />
      </div>
    </a>
    <a routerLink="users">
      <div class="animate-reveal px-6" data-transition="1500ms">
        <img src="/assets/icons/users.svg" alt="" class="w-full h-full" />
      </div>
    </a>
    <a routerLink="profile">
      <div class="animate-reveal px-6" data-transition="2000ms">
        <img src="/assets/icons/users.svg" alt="" class="w-full h-full" />
      </div>
    </a>
    <a routerLink="profile">
      <div class="animate-reveal px-6" data-transition="2500ms">
        <img src="/assets/icons/users.svg" alt="" class="w-full h-full" />
      </div>
    </a>
  </div>
</div>
