@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
	body {
		font-family: "Inter", sans-serif;
	}
	body {
		min-height: 100vh;
		background-color: #f3f4f6;
		color: #222;
		display: flex;
		flex-direction: column;
		// font: 15px/1.6 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
		margin: 0;
		overflow-x: hidden;
		padding: 0;
		word-wrap: break-word;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-tap-highlight-color: transparent;
		-webkit-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		-webkit-overflow-scrolling: touch;
	}
	.min-w-\[5rem\] {
		min-width: 5rem; /* 80px */
	}
}

@media (min-width: 1200px) {
	.xl\:min-w-\[12rem\] {
		width: 12rem; /* 192px */
	}
}
.text-\[0\.5rem\] {
	font-size: 0.5rem; /* 8px */
}

@layer components {
	#menu {
		z-index: 100;
	}
	.background-cobweb {
		background-image: url(/assets/images/cobweb.png);
		background-repeat: no-repeat;
	}
	.hover-filter-white:hover {
		filter: brightness(0) invert(1);
	}
	.filter-white {
		filter: brightness(0) invert(1);
	}
	.red-dot:before {
		content: "\A";
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #ef4444;
		display: inline-block;
		margin: 0 5px 0 0;
	}
} ;
