<div mat-dialog-title>
	<div class="flex">
		<div>
			<div class="mt-2">
				<span class="text-lg text-neutral-700 font-sans font-semibold">Přidat uživatele</span>
			</div>
		</div>
		<div class="ml-auto">
			<div mat-dialog-close class="cursor-pointer">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
				</svg>
			</div>
		</div>
	</div>
</div>
<mat-dialog-content>
	<div nz-form>
		<nz-form-item>
			<nz-form-control>
				<input nz-input placeholder="Jméno" [(ngModel)]="Form.fnameInput" name="fname" type="text" id="fname" />
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-control>
				<input nz-input placeholder="Přijmení" [(ngModel)]="Form.lnameInput" name="lname" type="text" id="lname" />
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-control>
				<input nz-input placeholder="Telefon" [(ngModel)]="Form.phoneInput" name="phone" type="text" id="phone" />
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-control>
				<input nz-input placeholder="Email" [(ngModel)]="Form.emailInput" name="email" type="email" id="email" />
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Role" nzErrorType="Požadované" [(ngModel)]="Form.roleInput" class="w-full">
				<nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.role"></nz-option>
			</nz-select>
		</nz-form-item>
		<nz-form-item>
			<nz-select nzShowSearch nzAllowClear nzPlaceHolder="Středisko" nzErrorType="Požadované" [(ngModel)]="Form.centerInput" class="w-full">
				<nz-option *ngFor="let center of centers" [nzValue]="center.id" [nzLabel]="center.name"></nz-option>
			</nz-select>
		</nz-form-item>
	</div>
</mat-dialog-content>
<div class="dialog-actions flex">
	<button mat-dialog-close class="py-2 cursor-pointer text-neutral-500">Zrušit</button>
	<div class="ml-auto">
		<button nz-button (click)="send()" cdkFocusInitial class="px-5 py-2 cursor-pointer rounded-md text-white shadow-xl bg-green-500 hover:bg-green-700">Vytvořit</button>
	</div>
</div>
