<div class="relative h-full bg-white md:bg-transparent">
	<div class="flex h-16 mb-24 p-2">
		<a [routerLink]="['']" class="m-auto">
			<div class="flex mx-2 xl:gap-2">
				<img src="http://assets.spsul.cz/web/img/logo_sps.svg" alt="Logo" class="h-auto w-12" />
				<div class="flex w-0 h-0 invisible opacity-0 xl:w-auto xl:h-auto xl:visible xl:opacity-100 xl:transition-all xl:delay-200">
					<div class="my-auto">
						<h1 class="text-2xl text-center text-red-600 font-bold tracking-normal leading-none">SPSUL</h1>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="">
		<div *ngFor="let item of menuItems; i">
			<div *ngIf="userRole >= item.requiredRole" style="cursor: pointer" class="hover:bg-red-700" [routerLink]="[item.href]" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="bg-red-600 activeMenu">
				<ng-container [ngTemplateOutlet]="link" [ngTemplateOutletContext]="{ item: item }"> </ng-container>
			</div>
		</div>
	</div>
	<div class="absolute w-full bottom-5">
		<a (click)="logout()">
			<div class="hover:bg-red-700">
				<ng-container [ngTemplateOutlet]="link" [ngTemplateOutletContext]="{ item: menuLogout }"> </ng-container>
			</div>
		</a>
	</div>
</div>
<ng-template #link let-item="item">
	<div class="hover-filter-white py-2 xl:px-1">
		<div class="animate-reveal flex h-8" data-transition="1000ms" data-onlyOnPageLoad="true">
			<div class="flex w-full h-full px-6 xl:w-auto xl:px-4">
				<i nz-icon style="color: #dc2626; font-size: 20px" class="m-auto" nzType="{{ item.iconType }}" nzTheme="outline"></i>
			</div>
			<div class="flex w-0 h-0 invisible opacity-0 xl:w-auto xl:h-auto xl:visible xl:opacity-100 xl:transition-all xl:delay-200">
				<div class="my-auto text-base text-red-600 font-semibold tracking-wide">{{ item.label }}</div>
			</div>
		</div>
	</div>
</ng-template>
