<section>
	<div class="flex mb-8">
		<div class="grid">
			<h1 class="my-auto text-2xl font-semibold text-gray-700">Příspěvky</h1>
		</div>
		<div class="flex ml-auto">
			<button (click)="openAddPosts()" class="px-6 py-2 rounded-sm font-semibold text-sm text-white isolate bg-red-600 hover:bg-red-700">Nový příspěvek</button>
		</div>
	</div>
	<div *ngIf="getLoggedUser().center_id == 3 || getLoggedUser().role_id == 2 || getLoggedUser().role_id == 3" class="grid grid-cols-1 sm:grid-cols-3 h-40 sm:h-8 mt-4 rounded-3xl bg-white">
		<div (click)="updateCenter(0, $event)" class="cursor-pointer grid h-full rounded-3xl isolate bg-red-600" [attr.data-filter-selected]="true">
			<span class="m-auto font-semibold text-white">VŠECHNY</span>
		</div>
		<div (click)="updateCenter(1, $event)" class="cursor-pointer grid h-full isolate">
			<span class="m-auto font-semibold text-gray-500">RESSLOVA</span>
		</div>
		<div (click)="updateCenter(2, $event)" class="cursor-pointer grid h-full isolate">
			<span class="m-auto font-semibold text-gray-500">STŘÍBRNÍKY</span>
		</div>
	</div>
	<div class="mt-8">
		<app-loading-data [status]="loading.posts"></app-loading-data>
		<div *ngIf="loading.posts.response">
			<nz-empty *ngIf="posts.length === 0; else displaying"></nz-empty>
		</div>
	</div>
</section>

<ng-template #displaying>
	<div class="flex flex-wrap gap-10">
		<div class="flex flex-grow h-auto rounded-lg overflow-hidden shadow-lg bg-white" *ngFor="let post of posts | postFilter : center">
			<div class="testt max-w-[8px] w-full isolate" [ngClass]="{ 'bg-yellow-400': post.priority == 2, 'bg-red-500': post.priority == 3 }"></div>
			<div class="w-full grid gap-8 p-8">
				<div class="w-full h-fit grid gap-4">
					<div class="flex">
						<div class="flex">
							<p class="text-lg font-semibold">{{ post.title }}</p>
						</div>
						<div class="ml-4">
							<div class="flex gap-2 text-white font-semibold">
								<span *ngIf="post.center_id == 1 || post.center_id == 3" class="px-3 py-1 rounded-full isolate bg-orange-600">RES</span>
								<span *ngIf="post.center_id == 2 || post.center_id == 3" class="px-3 py-1 rounded-full isolate bg-blue-600">STŘ</span>
							</div>
						</div>
						<div class="w-5 ml-auto">
							<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#777" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
								</svg>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="openEditPost(post.id)">
									<span>Upravit příspěvek</span>
								</button>
								<button (click)="openHistoryPost(post.id)" mat-menu-item>
									<span>Historie změn</span>
								</button>
								<button (click)="deletePost(post.id)" mat-menu-item data-button-danger="true" class="button-mat-danger bg-red-600">
									<span class="text-white">Smazat příspěvek</span>
								</button>
							</mat-menu>
						</div>
					</div>
					<div class="pr-5 overflow-x-auto">
						<div class="text-black" [innerHTML]="post.text"></div>
					</div>
					<div class="flex border-t-2 py-4">
						<div class="flex flex-wrap-reverse rounded-lg bg-violet-50">
							<div *ngFor="let filePost of parseJson(post.files)" (click)="downloadFile(filePost.uuid)" class="flex px-4 py-3 rounded-lg cursor-pointer hover:bg-violet-100">
								<div class="flex h-10">
									<div class="">
										<img src="/assets/icons/mime/{{ getPostFileIcon(filePost.name) }}.png" alt="" class="h-full" />
									</div>
									<div class="grid ml-1 py-1">
										<p class="font-semibold leading-none">{{ filePost.name }}</p>
										<p class="mt-auto text-neutral-500 leading-none">{{ humanSizeReadable(filePost.size) }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex h-10 mt-auto">
					<div class="flex gap-2 w-full">
						<div class="h-full overflow-hidden rounded-full">
							<img src="/assets/images/profile.jpg" alt="" class="h-full" />
						</div>
						<div class="flex flex-col py-1">
							<p class="text-sm text-zinc-500 font-semibold leading-none">Miroslav Douda</p>
							<div class="mt-auto">
								<p class="text-sm text-stone-400 leading-none">15.08.2022</p>
							</div>
						</div>
					</div>
					<div class="flex ml-auto" *ngIf="post.priority == 3">
						<div class="mt-auto">
							<span class="ml-auto text-xs leading-none">Upraveno uživatelem {{ post.user_id }} v {{ post.date }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
